In [2]:
from utils.loaddata import load_csv
import os
filepath = os.path.join("data", "USDJPY60.csv")

df = load_csv(filepath)

In [3]:
df.head(5)

           datetime    open    high     low   close  volume
0  2009-01-20 14:00  90.450  90.585  90.145  90.160   26234
1  2009-01-20 15:00  90.165  90.175  90.045  90.135   30800
2  2009-01-20 16:00  90.145  90.250  89.990  90.200   30626
3  2009-01-20 17:00  90.200  90.250  89.825  90.115   30172
4  2009-01-20 18:00  90.110  90.155  89.970  89.970   26322

In [4]:
import utils.indicator as ind
sma = ind.SMA(df.head(100).close)

In [6]:
sma.out_real

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
95    88.95775
96    88.97325
97    89.01450
98    89.03550
99    89.05125
Length: 100, dtype: float64