In [2]:
from utils.loaddata import load_csv
import os
filepath = os.path.join("data", "USDJPY60.csv")

df = load_csv(filepath)

In [3]:
df.head(5)

           datetime    open    high     low   close  volume
0  2009-01-20 14:00  90.450  90.585  90.145  90.160   26234
1  2009-01-20 15:00  90.165  90.175  90.045  90.135   30800
2  2009-01-20 16:00  90.145  90.250  89.990  90.200   30626
3  2009-01-20 17:00  90.200  90.250  89.825  90.115   30172
4  2009-01-20 18:00  90.110  90.155  89.970  89.970   26322

In [4]:
import utils.indicator as ind
sma = ind.SMA(df.head(100).close)

In [6]:
sma.out_real

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
95    88.95775
96    88.97325
97    89.01450
98    89.03550
99    89.05125
Length: 100, dtype: float64

In [10]:
filepath = "data/test_data.csv"
with open(filepath, "r") as f:
    print(len(f.readlines()))

5900

In [1]:
from models.rule import SMAGolden

In [2]:
rule_smag = SMAGolden("data/test_data.csv", 3, 10)

In [3]:
rule_smag.data

              datetime     open     high      low    close  volume
0     2024-03-04 02:00  150.126  150.186  150.098  150.175    6664
1     2024-03-04 03:00  150.171  150.193  150.110  150.160    9836
2     2024-03-04 04:00  150.159  150.265  150.139  150.253    7353
3     2024-03-04 05:00  150.253  150.320  150.220  150.302    8122
4     2024-03-04 06:00  150.302  150.386  150.268  150.358    4644
...                ...      ...      ...      ...      ...     ...
5895  2025-02-12 07:00  153.587  153.683  153.413  153.677   11563
5896  2025-02-12 08:00  153.680  153.886  153.500  153.551   13978
5897  2025-02-12 09:00  153.555  153.592  153.411  153.517    9371
5898  2025-02-12 10:00  153.516  153.695  153.490  153.581    8989
5899  2025-02-12 11:00  153.583  153.634  153.459  153.552    6781

[5900 rows x 6 columns]

In [6]:
rule_smag.data.loc[0].open

np.float64(150.126)

In [ ]:
for i in len(rule_smag.data)-1:
    if sma1[i] <= sma2[i] && sma1[i+1] > sma2[i+1]:
        ...